# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# notebooks
notebooks/

# Virtual environments
venv/
.env/
.venv/

# Streamlit cache
.streamlit/

# Logs
logs/
*.log

# Temporary files
data/

# OS files
.DS_Store
Thumbs.db


# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

pytest.ini

tests/

attachments/